@use 'sass:color';

$bg-main:#1f2024;
$bg-panel: #1b1f28;
$bg-pre: #18181B;
$bg-primary: #ff7400;
$bg-disabled: #3b3b3b;

$fg-main: #ffffff;
$fg-primary: #ff7400;
$fg-primary-hover: color.scale($fg-primary, $lightness: 20%);