<select [(ngModel)]="selectedCategory" class="tri-select-input w100" [(ngModel)]="selectedCategory" (change)="onChangeValue()">
    <option *ngFor="let category of categories" [ngValue]="category" class="tri-option">{{category.name}}</option>
</select>
<br>
<br>
<div class="w100">
    <i class="fa-solid fa-plus clickable" (click)="openNewCategory()" *ngIf="!isCatOpen && !isCatPublished"></i>
    <i class="fa-solid fa-minus clickable" (click)="closeNewCategory()" *ngIf="isCatOpen && !isCatPublished"></i>
    <i class="fa-solid fa-check primary" *ngIf="isCatPublished"></i>
    <input #inputNewCategory type="text" placeholder="New category" class="tri-select-input-new" (change)="onNewCategory($event)"/>
</div>
<br *ngIf="isCatOpen">
<span class="tri-select-chip" *ngFor="let category of selectedCategories">{{category.name}} <i class="fa-solid fa-xmark" (click)="removeCategory(category)"></i></span>
