@use '../../styles/variables' as *;

.tri-select-chip{
    display: inline-block;
    background-color: $bg-primary;
    color: $fg-main;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.tri-select-input-new{
    color: $fg-main;
    background: none;
    border: 0;
    border: 1px solid $fg-primary;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    display: none;
}

.clickable{
    cursor: pointer;
}

.primary{
    color: $fg-primary;
}