@use '../../styles/variables' as *;

.top-menu {
    background-color: $bg-panel;
    color: $fg-main;
    box-shadow: 0px 10px 20px 1px #000000;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
}

.menu-title{
    color: $fg-primary;
    font-size: 25px;
}

.menu-center{
    display: table;
    margin: auto;
}

.menu-logo{
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.menu-item{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: $fg-main;
    margin-left: 10px;
    min-width: 80px;

    &.selected {
      border-bottom: 1px solid $fg-primary;
    }
}

.menu-item:hover{
    border-bottom: 1px dashed $fg-primary;
}