<div class="login-container">
    <div class="login-form">
        <div style="width: 100%; text-align: center;">
            <img src="/images/logo_blog.svg" width="100px" height="100px"/>
        </div>
        <form *ngIf="!isLoginInProgress" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="Login" formControlName="login" class="tri-text-input w100"/>
            <br><br>
            <input type="password" placeholder="Password" formControlName="password" class="tri-text-input w100"/>
            <br><br>
            <div style="width: 100%; text-align: center;">
                <button class="bbutton">Login</button>
            </div>
        </form>
        <span *ngIf="isLoginInProgress" style="width: 100%; text-align: center;">Login in progress</span>
        <span style="color: red;">{{error}}</span>
    </div>
</div>