<div class="tri-page">
    <div class="two-column-layout">
        <div class="left-column">
            Left col
        </div>
        <div class="right-column">
            <div *ngIf="loadingBlogs">
                Loading...
            </div>
            <div *ngIf="blogs != null && blogs.length > 0">
                <blog-row *ngFor="let blog of blogs" [blog]="blog"></blog-row>
            </div>
            <div *ngIf="blogs != null && blogs.length == 0">
                No blogs found
            </div>
        </div>
    </div>
</div>