@use 'app/styles/variables' as *;

html{
    margin: 0;
    padding: 0;
    background-color: $bg-main;
    font-family: 'Josefin Sans', sans-serif;
    color: $fg-main;
}

body{
    margin: 0;
    padding: 0;
}

.w100{
    width: 100%;
}

.tri-page{
    width: 50%;
    margin: auto;
    margin-top: 50px;

    @media (max-width: 800px) {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
}

.two-column-layout{
    display: flex;
    flex-wrap: wrap; // Pour gérer le responsive
    

    @media (max-width: 800px) {
        flex-direction: column;
        .left-column,
        .right-column{
            max-width: none;
            min-width: 0;
            width: 100%;
        }
        
    }
}

.left-column{
    flex: 0 0 200px;
    max-width: 200px;
    padding: 20px;
    box-sizing: border-box;
}

.right-column{
    flex: 1 1 0;
    padding: 20px;
    box-sizing: border-box;
    border-left: 1px solid $fg-primary;

    @media (max-width: 800px) {
        border: none;
    }
}

.bbutton{
    text-decoration: none;
    outline: 0;
    border: 1px solid $fg-primary;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: $bg-main;
    color: $fg-main;
    cursor: pointer;
}

.bbutton:hover{
    background-color: $fg-primary;
    color: $bg-main;
}